pipeline/PP_SWITCH_Scenario.json
{
	"name": "PP_SWITCH_Scenario",
	"properties": {
		"activities": [
			{
				"name": "Switch_Scenario",
				"type": "Switch",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@pipeline().parameters.Action",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "Copy",
							"activities": [
								{
									"name": "Copy data Scenario",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"wildcardFileName": "*.csv",
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DSSWITCH",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "DS_OUTPUT",
											"type": "DatasetReference"
										}
									]
								}
							]
						},
						{
							"value": "Delete",
							"activities": [
								{
									"name": "Get Metadata Details",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "DSSWITCH",
											"type": "DatasetReference"
										},
										"fieldList": [
											"childItems"
										],
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "Execute Pipeline Details",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "FilterDetails",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipelineDelete",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Files": {
												"value": "@activity('FilterDetails').output.value",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "FilterDetails",
									"type": "Filter",
									"dependsOn": [
										{
											"activity": "Get Metadata Details",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"items": {
											"value": "@activity('Get Metadata Details').output.childItems",
											"type": "Expression"
										},
										"condition": {
											"value": "@not(endswith(item().name,'.csv'))",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Action": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-05-30T18:09:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}